* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

h1 {
  text-align: center;
  height: 2em;
}

.menu-links {
  position: absolute;
  text-align: center;
  height: 1em;
  width: 100%;
  align-items: center;
  bottom: 70%;
}

.perso-info,
.projects {
  font-size: 3em;
  text-align: center;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  right: 45%;
  text-align: center;
}

.info-list {
  text-align: center;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  padding: 5px;
}

.back {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px;
}

.back:hover {
  background-color: #3e8e41;
}

.back:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list-projects {
  text-align: center;
}

.botao {
  display: flex;
  justify-content: center;
}

li {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 10px;
}

img{
  margin: auto;
  display: block;
  border-radius: 50%;
  padding: 20px;
}