<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/index.css" />
    <!-- <script src="js/script.js"></script> -->
    <title>Projeto.</title>

</head>

<body>
    <header>
        <ul class="nav">
            <a class="navItem" href="/profile">
                <li>Pefil</li>
            </a>
            <a class="navItem" href="/projects">
                <li>Projetos</li>
            </a>
        </ul>
    </header>